html{
  width: 100%;
  height: 100%;
 background:rgb(218, 204, 181);
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #1e1e1f;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  
}

#root {
  width: 375px;
  margin:  0px 0px 0px;
  position: relative;
}

