
.TodoCounter {
    padding: 10px 0px;

    display: flex;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
    width: auto;
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    
}

.TodoCounter:hover{
    animation-name: agrandar-Todo-Counter;
    animation-duration: 0.7s;
    animation-iteration-count:1; 
    animation-direction: normal;
   animation-fill-mode: forwards;

}



@keyframes agrandar-Todo-Counter{
    from{
        font-size: 20px;
        
    }

    to{
        font-size: 22px;
    }
}